.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/gradle.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.aider*
.env
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.impl-242.23726.103+835.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.impl-2024.2.4+835.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.collaborationTools-242.23726.103+835.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-2024.2.4+116.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.properties-242.23726.103+64.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-tanvd.grazi-242.23726.103+141.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-2024.1.3+717.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-2024.2.4+647.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.toml.lang-242.23726.103+225.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-2024.2.4+922.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.yaml-241.17890.1+266.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.ide.newUiOnboarding-242.23726.103+835.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-241.17890.1+863.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.toml.lang-241.17890.1+767.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.log.impl-242.23726.103+835.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-242.23726.103+647.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-242.23726.103+21.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-241.17890.1+120.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-242.23726.103+514.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-242.23726.103+321.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-241.17890.1+954.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-242.23726.103+691.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.sh-241.17890.1+108.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.intelliLang-241.17890.1+246.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-242.23726.103+116.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-241.17890.1+180.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.yaml-242.23726.103+724.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.intelliLang-242.23726.103+252.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.coverage-242.23726.103+835.xml
/.intellijPlatform/self-update.lock
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-tanvd.grazi-241.17890.1+815.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.properties-241.17890.1+106.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-2024.1.3+954.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.sh-242.23726.103+218.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-training-241.17890.1+713.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-241.17890.1+959.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-241.17890.1+651.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-241.17890.1+717.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-2024.1.3+180.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.collaborationTools-242.23339.11+678.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.coverage-242.23339.11+678.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.ide.newUiOnboarding-242.23339.11+678.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.impl-242.23339.11+678.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.log.impl-242.23339.11+678.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-242.23339.11+781.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-242.23339.11+300.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-242.23339.11+792.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.properties-242.23339.11+995.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-242.23339.11+686.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.sh-242.23339.11+343.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-2024.2.3+63.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.intelliLang-242.23339.11+185.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-242.23339.11+673.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-2024.2.3+673.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-242.23339.11+90.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-2024.2.3+90.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.yaml-242.23339.11+703.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.toml.lang-242.23339.11+204.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-tanvd.grazi-242.23339.11+806.xml
