.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/AiderProjectSettings.xml
.intellijPlatform/*
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/gradle.xml
.kotlin/*

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.aider.*
.env
/.intellijPlatform/*
.aider*
/kotlin-sdk/.aider.chat.history.md
/kotlin-sdk/.aider.input.history
/kotlin-sdk/.aider.tags.cache.v4/62/54/bde7e940bc13f7236b41e0ff4bc7.val
/kotlin-sdk/.aider.tags.cache.v4/cache.db
