.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/gradle.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.aider*
.env
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.impl-242.23726.103+835.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.impl-2024.2.4+835.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.collaborationTools-242.23726.103+835.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-2024.2.4+116.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.properties-242.23726.103+64.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-tanvd.grazi-242.23726.103+141.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-2024.1.3+717.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-2024.2.4+647.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.toml.lang-242.23726.103+225.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-2024.2.4+922.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.yaml-241.17890.1+266.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.ide.newUiOnboarding-242.23726.103+835.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-241.17890.1+863.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.toml.lang-241.17890.1+767.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.log.impl-242.23726.103+835.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-242.23726.103+647.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-242.23726.103+21.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-241.17890.1+120.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-242.23726.103+514.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-242.23726.103+321.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-241.17890.1+954.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-242.23726.103+691.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.sh-241.17890.1+108.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.intelliLang-241.17890.1+246.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-242.23726.103+116.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-241.17890.1+180.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.yaml-242.23726.103+724.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.intelliLang-242.23726.103+252.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.coverage-242.23726.103+835.xml
/.intellijPlatform/self-update.lock
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-tanvd.grazi-241.17890.1+815.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.properties-241.17890.1+106.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-2024.1.3+954.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.sh-242.23726.103+218.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-training-241.17890.1+713.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-241.17890.1+959.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-241.17890.1+651.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-241.17890.1+717.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-2024.1.3+180.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.collaborationTools-242.23339.11+678.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.coverage-242.23339.11+678.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.ide.newUiOnboarding-242.23339.11+678.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.impl-242.23339.11+678.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.log.impl-242.23339.11+678.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-242.23339.11+781.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-242.23339.11+300.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-242.23339.11+792.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.properties-242.23339.11+995.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-242.23339.11+686.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.sh-242.23339.11+343.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-2024.2.3+63.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.intelliLang-242.23339.11+185.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-242.23339.11+673.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-2024.2.3+673.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-242.23339.11+90.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-2024.2.3+90.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.yaml-242.23339.11+703.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.toml.lang-242.23339.11+204.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-tanvd.grazi-242.23339.11+806.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-241.17890.1+68.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-241.17890.1+245.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-241.17890.1+407.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.properties-241.17890.1+762.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-241.17890.1+629.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.sh-241.17890.1+64.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-241.17890.1+480.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-2024.1.3+480.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.intelliLang-241.17890.1+482.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-241.17890.1+546.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-2024.1.3+546.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-241.17890.1+217.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-2024.1.3+217.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.yaml-241.17890.1+842.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.toml.lang-241.17890.1+341.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-tanvd.grazi-241.17890.1+835.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-training-241.17890.1+469.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-241.19416.15+164.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-241.19416.15+117.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-241.19416.15+63.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.properties-241.19416.15+218.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-241.19416.15+741.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.sh-241.19416.15+672.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-241.19416.15+464.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-2024.1.7+464.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.intelliLang-241.19416.15+234.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-241.19416.15+950.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-241.19416.15+583.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-2024.1.7+583.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.yaml-241.19416.15+714.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.toml.lang-241.19416.15+213.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-tanvd.grazi-241.19416.15+3.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-training-241.19416.15+125.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-241.19416.15+784.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-241.19416.15+929.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-241.19416.15+181.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.properties-241.19416.15+210.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-241.19416.15+967.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.sh-241.19416.15+628.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-241.19416.15+124.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-2024.1.7+124.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.intelliLang-241.19416.15+470.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-241.19416.15+550.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-241.19416.15+213.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-2024.1.7+213.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.yaml-241.19416.15+526.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.toml.lang-241.19416.15+25.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-tanvd.grazi-241.19416.15+23.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-training-241.19416.15+119.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.collaborationTools-243.21565.193+579.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.collaborationTools-243.21565.193+860.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.coverage-243.21565.193+579.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.coverage-243.21565.193+860.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.ide.newUiOnboarding-243.21565.193+579.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.ide.newUiOnboarding-243.21565.193+860.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.impl-243.21565.193+579.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.impl-243.21565.193+860.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.log.impl-243.21565.193+579.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.log.impl-243.21565.193+860.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-243.21565.193+499.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-243.21565.193+882.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-243.21565.193+473.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-243.21565.193+734.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.modules.json-243.21565.193+379.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.modules.json-243.21565.193+828.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-243.21565.193+461.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-243.21565.193+866.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-2024.3+461.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-2024.3+866.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.properties-243.21565.193+191.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.properties-243.21565.193+936.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-243.21565.193+325.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-243.21565.193+956.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.sh-243.21565.193+486.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.sh-243.21565.193+607.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-2024.3+521.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-Git4Idea-2024.3+702.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.intelliLang-243.21565.193+509.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.intelliLang-243.21565.193+884.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-243.21565.193+540.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.intellij.plugins.markdown-243.21565.193+821.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-243.21565.193+223.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-243.21565.193+712.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-2024.3+223.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.terminal-2024.3+712.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.yaml-243.21565.193+331.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.plugins.yaml-243.21565.193+876.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.toml.lang-243.21565.193+377.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.toml.lang-243.21565.193+830.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-tanvd.grazi-243.21565.193+148.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-tanvd.grazi-243.21565.193+645.xml
